/* Base Styles */

/*

BEM (block, element, modifier)

Block     ->  house
Element   ->  house__kitchen
Modifier  ->  house--condo

*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: #333333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

button {
  cursor: pointer;
}

a {
  color: #396684;
}

/* Container */

.container,
.ingredient-container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1.6rem;
  align-items: center;
}
.ingredient-container {
  font-size: 1.6em;
  max-width: 60rem;
  margin: 3.2rem auto;
  padding: 1.6rem 0;
  text-align: center;
  column-count: 2 auto;
}

#ingredients {
  display: inline-block;
}
/* Header */

.header {
  background: #4227a5;
  color: white;
  padding: 1.6rem 0;
}

.ingredient-header {
  background: #4227a5;
  border-radius: 5px;
  color: white;
  max-width: 60rem;
  margin: 3.2rem auto;
  padding: 1.6rem 0;
  text-align: center;
}

.header__title {
  font-size: 3.2rem;
  margin-bottom: 0.4rem;
}

.header__subtitle {
  font-size: 2rem;
  font-weight: 300;
}

/* Actions Bar */

.actions {
  background-color: #f7f7f7;
  border-bottom: 1px solid #dedfe0;
  padding: 0.8rem;
}

.actions__container {
  align-items: center;
  display: flex;
  max-width: 60rem;
  margin: 0 auto;
  min-height: 3rem;
  padding: 0 1.6rem;
}

.actions__container--spaced {
  justify-content: space-between;
}

/* Form Inputs */

.input {
  border: 1px solid #dedfe0;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 300;
  height: 3rem;
  margin-right: 0.8rem;
  padding: 0.4rem 0.8rem;
}

.dropdown {
  border-radius: 0;
  border: 1px solid #dedfe0;
  background: white;
  font-size: 1.4rem;
  font-weight: 300;
  height: 3rem;
  margin-right: 0.8rem;
}

.button {
  background: #43799c;
  border: none;
  border-bottom: 2px solid #396684;
  color: white;
  font-size: 1.4rem;
  font-weight: 300;
  padding: 0.8rem;
  transition: background 0.3s ease;
}

.button:hover {
  background: #396684;
}

.button--secondary {
  background: red;
  border-bottom: 2px solid #717171;
}

.button--secondary:hover {
  background: #6e6e6e;
}

.button--text {
  background: none;
  border: none;
  color: #aaa;
}

/* Note editor */

.title-input {
  border: 1px solid #dedfe0;
  font-size: 2rem;
  font-weight: 300;
  display: block;
  margin: 2.4rem 0;
  padding: 0.8rem;
  width: 100%;
}

.body-input {
  border: 1px solid #dedfe0;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 300;
  display: block;
  margin: 2.4rem 0;
  min-height: 15rem;
  padding: 0.8rem;
  width: 100%;
}

.checkbox {
  display: flex;
  align-items: baseline;
}

.checkbox > input {
  margin-right: 0.4rem;
}

/* Note List Item */

.list-item {
  text-decoration: none;
  color: #333333;
  background: #f7f7f7;
  border: 1px solid #dedfe0;
  margin: 1.6rem 0;
  padding: 1.6rem;
  display: block;
  transition: background 0.3s ease;
}

.list-item:hover {
  background: #eeeeee;
}

.list-item__title {
  font-size: 1.8rem;
  margin-bottom: 0.4rem;
}

.list-item__subtitle {
  color: #666;
  font-size: 1.4rem;
  font-weight: 300;
  font-style: italic;
}

.empty-message {
  text-align: center;
  margin: 3.2rem 0;
}
